*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family: 'Poppins',sans-serif;
    background:#0f172a;
    color: aliceblue;
}
section{
    padding: 60px 10%;
    
}
.hero {
    background: linear-gradient(180deg,#1e3a8a,#2e1065);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background: #0f1931;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 30px #facc15;
    width: 320px;
    height: 420px;
}
.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid gold;
    margin-bottom: 15px;
}
.card h1{
    font-family: 'cinzel',serif;
    color: yellow;

}
.card p{
    margin: 10px 0;
}
.project{
    background:#020617;
}
.history{
    background: #1f2937;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    border-right: 5px solid #facc15;
    border-left:5px solid #facc15;
}
.history h2{
   color: #facc15;
}
.languages{
    background-color: #020617;
}
.languages{
    background-color: #1f2937;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    border-right: 5px solid #facc15;
    border-left: 5px solid #facc15;
}
.languages h3{
    color: #facc15;

}
.achiv{
    padding: 60px 0%;
    text-align: center;
    color: #facc15;
  
}
.contact{
    text-align: center;
   
}
.clan{
    text-align: center;
    background-color: #0a0d13;
    padding: 25px;
    border-radius: 10px;
    border-top: 5px solid #facc15;
    display: inline-block;
}
.clan h5{
    color: #facc15;
}
.clan a{
    color: aliceblue;
}